{% load static%}
<!doctype html>
<html lang='ko'>
    <head>
        <!-- Required meta tags-->
        <meta charse = 'utf-8'>
        <meta name = 'viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type = 'text/css' href="{% static 'bootstrap.min.css'%}">
        <link rel="stylesheet" type = 'text/css' href="{% static 'styles.css'%}">

        <!-- pybo CSS-->
        <!-- <link rel="stylesheet" type = 'text/css' href="{% static 'css/style.css' %}"> -->
        <title>Hello, pybo!</title>
    </head>
    <body>
        {% include 'navbar.html' %}

        <!-- 기본 템플릿 안에 삽입될 내용 start -->
        {% block content %}
        {% endblock %}
            <!-- 기본 템플릿 안에 삽입될 내용 end -->
        <!-- jQuery JS -->
        <script src="{% static 'jquery-3.6.1.min.js' %}"></script>
        <!-- Bootstrap JS JS -->
        <script src="{% static 'bootstrap.min.js' %}"></script>
        <script src="{% static 'scripts.js' %}"></script>
        
    </body>
</html>