<!-- Navigation-->
<a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="#page-top">Monthly Project !! </a></li>
        <li class="sidebar-nav-item"><a href="">Home</a></li>
        <li class="sidebar-nav-item"><a href="{% url 'pybo:describe' %}">Describe</a></li>
        <li class="sidebar-nav-item"><a href="https://www.kaggle.com/datasets/jessemostipak/hotel-booking-demand">Dataset</a></li>
    </ul>
</nav>